
* {
  margin: 0;
  padding: 0;
}

.apaksa{
position:absolute;
bottom:0;
right:0;}

.flex{
	width:100%;
	height:50%;
	display:flex;
flex-direction:row;}

.teksts{
	display:flex;
	flex-direction:column;
	width:27%;
	height:60%;
	padding-left:150px;
	margin-top: -25vh;
}
h1{
	font-family:'Spartan', sans-serif;
	font-weight: 700;
	 color:hsl(300, 43%, 22%);
	 font-size: 60px;
}
p{
	font-family:'Spartan', sans-serif;
	
	font-weight: 500;
	line-height:1.5;
	color: hsl(303, 10%, 53%);
}
	 
.zvaigznes{
display:flex;
flex-direction:column;
width: 50%;
height:40%;
margin-top:-20vh;
align-items:flex-end;
}	
.logi{
	display:flex;
	
	align-items:center;
	border-radius: 10px;
	width:42vh;
	height:3vh;
	padding: 15px;
	padding-left:55px;
	margin-top:15px;
	background-color:   hsl(300, 24%, 96%);
	font-family:'Spartan', sans-serif;
	font-weight: 700;
	 color:hsl(300, 43%, 22%);
	 font-size: 15px;
}
.piecas{
	display:flex;
	height: 19px;
	
}
#atstarpe{
margin-right:15px;}
#viens{
margin-right: 160px;}

#divi{
margin-right:100px;}

